.animal-card {
  width: 366px;
  height: 426px;
  border: 1px solid $brand-color;
  border-radius: 5px;
  overflow: hidden;
  flex: 0 0 auto;
  cursor: pointer;
  transition: $basic-transition;

  img {
    transition: 1s;
  }
  

  &:hover {
    border: 1px solid transparent;
    border-radius: 0px;
    .animal-card__image img {
      filter: brightness(40%);
      transform: scale(1.2);
    }
    .animal-card__info {
      transform: translateY(-70%);
      color: $text-white;
    }
  }

  &__image {
    background-color: black;
    display: block;
    height: 366px;
    transition: 1s;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__info {
    padding: 8px 16px 8px 14px;
    @include flex(space-between, center);
    transform: translate(0, 0);
    transition: 1s;
  }

  &__name {
    @include font(16px, 140%, 500);
    text-transform: uppercase;
  }

  &__location {
    @include font(15px, 120%, 300);
  }
}

// .animal-card {
//   width: 294px;
//   height: 354px;
//   border: 1px solid $brand-color;
//   border-radius: 5px;
//   overflow: hidden;
//   flex: 0 0 auto;

//   &__image {
//     display: block;
//   }

//   &__info {
//     padding: 8px 16px 8px 14px;
//     @include flex(space-between, center);
//   }

//   &__name {
//     @include font(16px, 140%, 500);
//     text-transform: uppercase;
//   }

//   &__location {
//     @include font(15px, 120%, 300);
//   }
// }
