.hero {
  background-image: url('../../../public/hero-panda.png');
  background-color: $background-black;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  padding: 86px 0 100px 0;

  @include media-big-desktop {
    padding: 40px 0 50px 0;
    overflow: hidden;
    background-size: cover;
  }

  &__content {
    max-width: 500px;
    @include flex(flex-start, center);
    gap: 60px;
    flex-direction: column;
    margin: 0 0 0 auto;

    @include media-small-desktop {
      width: 100%;
      max-width: 100%;
      gap: 25px;
    }
  }

  &__button {
    align-self: center;

    @include media-small-desktop {
      align-self: flex-start;
    }
  }

  h1 {
    text-transform: uppercase;
    @include font(107px, 75%, 700);
    color: $text-white;
    text-align: center;
    position: relative;
    z-index: 10;
    @include media-big-desktop {
      @include font(85px, 75%, 700);
      align-self: flex-end;
    }

    @include media-tablet {
      @include font(54px, 75%, 700);
    }

    &::before {
      content: '';
      display: block;
      background-color: $brand-color;
      background: $brand-gradient;
      width: 465px;
      height: 465px;
      border-radius: 50%;
      position: absolute;
      z-index: -1;
      top: -74px;
      left: -74px;

      @include media-big-desktop {
        width: 367px;
        height: 367px;
        top: -54px;
        left: -74px;
      }

      @include media-small-desktop {
        top: -20px;
      }
      @include media-tablet {
        width: 230px;
        height: 230px;
      }
    }

    span {
      color: $accent-hero-section-text;
    }
  }
}
