// colors 
$text-white: #fff;
$text-black: #000;
$background-black: #000;
$background-white: #fff;
$brand-color: rgba(254, 144, 19, 1);
$brand-color-hover: rgba(228, 114, 9, 1);
$accent-hero-section-text: rgba(255, 238, 46, 1);

// width
$wrapper-width: 1200px;
$wrapper-side-paddings: 0 20px;


// transition
$basic-transition: 0.3s;